@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0N9upRwDe9Q4_font-family: "Source Sans 3", sans-serif;
  --mixin-0N9upRwDe9Q4_font-size: 16px;
  --mixin-0N9upRwDe9Q4_font-weight: 400;
  --mixin-0N9upRwDe9Q4_font-style: normal;
  --mixin-0N9upRwDe9Q4_color: #535353;
  --mixin-0N9upRwDe9Q4_text-align: left;
  --mixin-0N9upRwDe9Q4_text-transform: none;
  --mixin-0N9upRwDe9Q4_line-height: 1.5;
  --mixin-0N9upRwDe9Q4_letter-spacing: normal;
  --mixin-0N9upRwDe9Q4_white-space: pre-wrap;
  --mixin-0N9upRwDe9Q4_user-select: text;
  --mixin-0N9upRwDe9Q4_text-decoration-line: none;
  --mixin-0N9upRwDe9Q4_text-overflow: clip;
  --mixin-rje59vZXlHYf_font-family: "Source Sans 3", sans-serif;
  --mixin-rje59vZXlHYf_color: #000000;
  --mixin-rje59vZXlHYf_font-size: 72px;
  --mixin-rje59vZXlHYf_font-weight: 900;
  --mixin-rje59vZXlHYf_letter-spacing: -4px;
  --mixin-rje59vZXlHYf_line-height: 1;
  --mixin-rje59vZXlHYf_white-space: pre-wrap;
  --mixin-wcZ3ScJezQh8_font-family: "Source Sans 3", sans-serif;
  --mixin-wcZ3ScJezQh8_color: #000000;
  --mixin-wcZ3ScJezQh8_font-size: 48px;
  --mixin-wcZ3ScJezQh8_font-weight: 700;
  --mixin-wcZ3ScJezQh8_letter-spacing: -1px;
  --mixin-wcZ3ScJezQh8_line-height: 1.1;
  --mixin-wcZ3ScJezQh8_white-space: pre-wrap;
  --mixin-uIkWPRf4bEi7_font-family: "Source Sans 3", sans-serif;
  --mixin-uIkWPRf4bEi7_color: #000000;
  --mixin-uIkWPRf4bEi7_font-size: 32px;
  --mixin-uIkWPRf4bEi7_font-weight: 600;
  --mixin-uIkWPRf4bEi7_letter-spacing: -0.8px;
  --mixin-uIkWPRf4bEi7_line-height: 1.2;
  --mixin-uIkWPRf4bEi7_white-space: pre-wrap;
  --mixin-DQAB6uOUF1kc_font-family: "Source Sans 3", sans-serif;
  --mixin-DQAB6uOUF1kc_color: #000000;
  --mixin-DQAB6uOUF1kc_font-size: 24px;
  --mixin-DQAB6uOUF1kc_font-weight: 600;
  --mixin-DQAB6uOUF1kc_letter-spacing: -0.5px;
  --mixin-DQAB6uOUF1kc_line-height: 1.3;
  --mixin-DQAB6uOUF1kc_white-space: pre-wrap;
  --mixin-jS2aWiMlc3-3_font-family: "Source Sans 3", sans-serif;
  --mixin-jS2aWiMlc3-3_color: #000000;
  --mixin-jS2aWiMlc3-3_font-size: 20px;
  --mixin-jS2aWiMlc3-3_font-weight: 600;
  --mixin-jS2aWiMlc3-3_letter-spacing: -0.3px;
  --mixin-jS2aWiMlc3-3_line-height: 1.5;
  --mixin-jS2aWiMlc3-3_white-space: pre-wrap;
  --mixin-iYpFkEv1V9Rs_font-family: "Source Sans 3", sans-serif;
  --mixin-iYpFkEv1V9Rs_color: #000000;
  --mixin-iYpFkEv1V9Rs_font-size: 16px;
  --mixin-iYpFkEv1V9Rs_font-weight: 600;
  --mixin-iYpFkEv1V9Rs_line-height: 1.5;
  --mixin-iYpFkEv1V9Rs_white-space: pre-wrap;
  --mixin-6vbJdUtxEskQ_color: #0070f3;
  --mixin-6vbJdUtxEskQ_white-space: pre-wrap;
  --mixin-55-I36Iv2NRt_color: #3291ff;
  --mixin-55-I36Iv2NRt_white-space: pre-wrap;
  --mixin-_1ThySebxchD_border-left-color: #dddddd;
  --mixin-_1ThySebxchD_border-left-style: solid;
  --mixin-_1ThySebxchD_border-left-width: 3px;
  --mixin-_1ThySebxchD_color: #888888;
  --mixin-_1ThySebxchD_padding-left: 10px;
  --mixin-_1ThySebxchD_white-space: pre-wrap;
  --mixin-KHoas4Fc2KrF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KHoas4Fc2KrF_border-bottom-color: #dddddd;
  --mixin-KHoas4Fc2KrF_border-bottom-style: solid;
  --mixin-KHoas4Fc2KrF_border-bottom-width: 1px;
  --mixin-KHoas4Fc2KrF_border-left-color: #dddddd;
  --mixin-KHoas4Fc2KrF_border-left-style: solid;
  --mixin-KHoas4Fc2KrF_border-left-width: 1px;
  --mixin-KHoas4Fc2KrF_border-right-color: #dddddd;
  --mixin-KHoas4Fc2KrF_border-right-style: solid;
  --mixin-KHoas4Fc2KrF_border-right-width: 1px;
  --mixin-KHoas4Fc2KrF_border-top-color: #dddddd;
  --mixin-KHoas4Fc2KrF_border-top-style: solid;
  --mixin-KHoas4Fc2KrF_border-top-width: 1px;
  --mixin-KHoas4Fc2KrF_border-bottom-left-radius: 3px;
  --mixin-KHoas4Fc2KrF_border-bottom-right-radius: 3px;
  --mixin-KHoas4Fc2KrF_border-top-left-radius: 3px;
  --mixin-KHoas4Fc2KrF_border-top-right-radius: 3px;
  --mixin-KHoas4Fc2KrF_font-family: "Inconsolata";
  --mixin-KHoas4Fc2KrF_padding-bottom: 1px;
  --mixin-KHoas4Fc2KrF_padding-left: 4px;
  --mixin-KHoas4Fc2KrF_padding-right: 4px;
  --mixin-KHoas4Fc2KrF_padding-top: 1px;
  --mixin-KHoas4Fc2KrF_white-space: pre-wrap;
  --mixin-pAVRUCGXCza5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-pAVRUCGXCza5_border-bottom-color: #dddddd;
  --mixin-pAVRUCGXCza5_border-bottom-style: solid;
  --mixin-pAVRUCGXCza5_border-bottom-width: 1px;
  --mixin-pAVRUCGXCza5_border-left-color: #dddddd;
  --mixin-pAVRUCGXCza5_border-left-style: solid;
  --mixin-pAVRUCGXCza5_border-left-width: 1px;
  --mixin-pAVRUCGXCza5_border-right-color: #dddddd;
  --mixin-pAVRUCGXCza5_border-right-style: solid;
  --mixin-pAVRUCGXCza5_border-right-width: 1px;
  --mixin-pAVRUCGXCza5_border-top-color: #dddddd;
  --mixin-pAVRUCGXCza5_border-top-style: solid;
  --mixin-pAVRUCGXCza5_border-top-width: 1px;
  --mixin-pAVRUCGXCza5_border-bottom-left-radius: 3px;
  --mixin-pAVRUCGXCza5_border-bottom-right-radius: 3px;
  --mixin-pAVRUCGXCza5_border-top-left-radius: 3px;
  --mixin-pAVRUCGXCza5_border-top-right-radius: 3px;
  --mixin-pAVRUCGXCza5_font-family: "Inconsolata";
  --mixin-pAVRUCGXCza5_padding-bottom: 3px;
  --mixin-pAVRUCGXCza5_padding-left: 6px;
  --mixin-pAVRUCGXCza5_padding-right: 6px;
  --mixin-pAVRUCGXCza5_padding-top: 3px;
  --mixin-pAVRUCGXCza5_white-space: pre-wrap;
  --mixin-kBxY9CCfogjp_display: flex;
  --mixin-kBxY9CCfogjp_flex-direction: column;
  --mixin-kBxY9CCfogjp_align-items: stretch;
  --mixin-kBxY9CCfogjp_justify-content: flex-start;
  --mixin-kBxY9CCfogjp_list-style-position: outside;
  --mixin-kBxY9CCfogjp_padding-left: 40px;
  --mixin-kBxY9CCfogjp_position: relative;
  --mixin-kBxY9CCfogjp_list-style-type: decimal;
  --mixin-kBxY9CCfogjp_white-space: pre-wrap;
  --mixin-3-c0XKNh7S17_display: flex;
  --mixin-3-c0XKNh7S17_flex-direction: column;
  --mixin-3-c0XKNh7S17_align-items: stretch;
  --mixin-3-c0XKNh7S17_justify-content: flex-start;
  --mixin-3-c0XKNh7S17_list-style-position: outside;
  --mixin-3-c0XKNh7S17_padding-left: 40px;
  --mixin-3-c0XKNh7S17_position: relative;
  --mixin-3-c0XKNh7S17_list-style-type: disc;
  --mixin-3-c0XKNh7S17_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0N9upRwDe9Q4_font-family);
  font-size: var(--mixin-0N9upRwDe9Q4_font-size);
  font-weight: var(--mixin-0N9upRwDe9Q4_font-weight);
  font-style: var(--mixin-0N9upRwDe9Q4_font-style);
  color: var(--mixin-0N9upRwDe9Q4_color);
  text-align: var(--mixin-0N9upRwDe9Q4_text-align);
  text-transform: var(--mixin-0N9upRwDe9Q4_text-transform);
  line-height: var(--mixin-0N9upRwDe9Q4_line-height);
  letter-spacing: var(--mixin-0N9upRwDe9Q4_letter-spacing);
  white-space: var(--mixin-0N9upRwDe9Q4_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-rje59vZXlHYf_font-family);
  color: var(--mixin-rje59vZXlHYf_color);
  font-size: var(--mixin-rje59vZXlHYf_font-size);
  font-weight: var(--mixin-rje59vZXlHYf_font-weight);
  letter-spacing: var(--mixin-rje59vZXlHYf_letter-spacing);
  line-height: var(--mixin-rje59vZXlHYf_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-wcZ3ScJezQh8_font-family);
  color: var(--mixin-wcZ3ScJezQh8_color);
  font-size: var(--mixin-wcZ3ScJezQh8_font-size);
  font-weight: var(--mixin-wcZ3ScJezQh8_font-weight);
  letter-spacing: var(--mixin-wcZ3ScJezQh8_letter-spacing);
  line-height: var(--mixin-wcZ3ScJezQh8_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-uIkWPRf4bEi7_font-family);
  color: var(--mixin-uIkWPRf4bEi7_color);
  font-size: var(--mixin-uIkWPRf4bEi7_font-size);
  font-weight: var(--mixin-uIkWPRf4bEi7_font-weight);
  letter-spacing: var(--mixin-uIkWPRf4bEi7_letter-spacing);
  line-height: var(--mixin-uIkWPRf4bEi7_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-DQAB6uOUF1kc_font-family);
  color: var(--mixin-DQAB6uOUF1kc_color);
  font-size: var(--mixin-DQAB6uOUF1kc_font-size);
  font-weight: var(--mixin-DQAB6uOUF1kc_font-weight);
  letter-spacing: var(--mixin-DQAB6uOUF1kc_letter-spacing);
  line-height: var(--mixin-DQAB6uOUF1kc_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-jS2aWiMlc3-3_font-family);
  color: var(--mixin-jS2aWiMlc3-3_color);
  font-size: var(--mixin-jS2aWiMlc3-3_font-size);
  font-weight: var(--mixin-jS2aWiMlc3-3_font-weight);
  letter-spacing: var(--mixin-jS2aWiMlc3-3_letter-spacing);
  line-height: var(--mixin-jS2aWiMlc3-3_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-iYpFkEv1V9Rs_font-family);
  color: var(--mixin-iYpFkEv1V9Rs_color);
  font-size: var(--mixin-iYpFkEv1V9Rs_font-size);
  font-weight: var(--mixin-iYpFkEv1V9Rs_font-weight);
  line-height: var(--mixin-iYpFkEv1V9Rs_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-6vbJdUtxEskQ_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-55-I36Iv2NRt_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-_1ThySebxchD_color);
  padding-left: var(--mixin-_1ThySebxchD_padding-left);
  border-left: var(--mixin-_1ThySebxchD_border-left-width)
    var(--mixin-_1ThySebxchD_border-left-style)
    var(--mixin-_1ThySebxchD_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-KHoas4Fc2KrF_font-family);
  border-radius: var(--mixin-KHoas4Fc2KrF_border-top-left-radius)
    var(--mixin-KHoas4Fc2KrF_border-top-right-radius)
    var(--mixin-KHoas4Fc2KrF_border-bottom-right-radius)
    var(--mixin-KHoas4Fc2KrF_border-bottom-left-radius);
  padding: var(--mixin-KHoas4Fc2KrF_padding-top)
    var(--mixin-KHoas4Fc2KrF_padding-right)
    var(--mixin-KHoas4Fc2KrF_padding-bottom)
    var(--mixin-KHoas4Fc2KrF_padding-left);
  border-top: var(--mixin-KHoas4Fc2KrF_border-top-width)
    var(--mixin-KHoas4Fc2KrF_border-top-style)
    var(--mixin-KHoas4Fc2KrF_border-top-color);
  border-right: var(--mixin-KHoas4Fc2KrF_border-right-width)
    var(--mixin-KHoas4Fc2KrF_border-right-style)
    var(--mixin-KHoas4Fc2KrF_border-right-color);
  border-bottom: var(--mixin-KHoas4Fc2KrF_border-bottom-width)
    var(--mixin-KHoas4Fc2KrF_border-bottom-style)
    var(--mixin-KHoas4Fc2KrF_border-bottom-color);
  border-left: var(--mixin-KHoas4Fc2KrF_border-left-width)
    var(--mixin-KHoas4Fc2KrF_border-left-style)
    var(--mixin-KHoas4Fc2KrF_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-pAVRUCGXCza5_font-family);
  border-radius: var(--mixin-pAVRUCGXCza5_border-top-left-radius)
    var(--mixin-pAVRUCGXCza5_border-top-right-radius)
    var(--mixin-pAVRUCGXCza5_border-bottom-right-radius)
    var(--mixin-pAVRUCGXCza5_border-bottom-left-radius);
  padding: var(--mixin-pAVRUCGXCza5_padding-top)
    var(--mixin-pAVRUCGXCza5_padding-right)
    var(--mixin-pAVRUCGXCza5_padding-bottom)
    var(--mixin-pAVRUCGXCza5_padding-left);
  border-top: var(--mixin-pAVRUCGXCza5_border-top-width)
    var(--mixin-pAVRUCGXCza5_border-top-style)
    var(--mixin-pAVRUCGXCza5_border-top-color);
  border-right: var(--mixin-pAVRUCGXCza5_border-right-width)
    var(--mixin-pAVRUCGXCza5_border-right-style)
    var(--mixin-pAVRUCGXCza5_border-right-color);
  border-bottom: var(--mixin-pAVRUCGXCza5_border-bottom-width)
    var(--mixin-pAVRUCGXCza5_border-bottom-style)
    var(--mixin-pAVRUCGXCza5_border-bottom-color);
  border-left: var(--mixin-pAVRUCGXCza5_border-left-width)
    var(--mixin-pAVRUCGXCza5_border-left-style)
    var(--mixin-pAVRUCGXCza5_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-kBxY9CCfogjp_display);
  flex-direction: var(--mixin-kBxY9CCfogjp_flex-direction);
  align-items: var(--mixin-kBxY9CCfogjp_align-items);
  justify-content: var(--mixin-kBxY9CCfogjp_justify-content);
  list-style-position: var(--mixin-kBxY9CCfogjp_list-style-position);
  padding-left: var(--mixin-kBxY9CCfogjp_padding-left);
  position: var(--mixin-kBxY9CCfogjp_position);
  list-style-type: var(--mixin-kBxY9CCfogjp_list-style-type);
  flex-column-gap: var(--mixin-kBxY9CCfogjp_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-3-c0XKNh7S17_display);
  flex-direction: var(--mixin-3-c0XKNh7S17_flex-direction);
  align-items: var(--mixin-3-c0XKNh7S17_align-items);
  justify-content: var(--mixin-3-c0XKNh7S17_justify-content);
  list-style-position: var(--mixin-3-c0XKNh7S17_list-style-position);
  padding-left: var(--mixin-3-c0XKNh7S17_padding-left);
  position: var(--mixin-3-c0XKNh7S17_position);
  list-style-type: var(--mixin-3-c0XKNh7S17_list-style-type);
  flex-column-gap: var(--mixin-3-c0XKNh7S17_flex-column-gap);
}
